# Entorno virtual
venv/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
.idea/
.vscode/

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Enviroment
.env

# Ignorar SQLite
*.db